.dashboard {
  &-section {
    margin-bottom: 64px;
    min-height: 335px;
    position: relative;

    &-header {
      flex-wrap: nowrap;
      margin-bottom: 20px;

      &-title {
        & > * {
          font-style: italic;
        }

        h3 {
          font-weight: 500;
          margin-bottom: 12px;
        }

        p {
          font-weight: 300;
        }
      }



      &-input {
        flex-wrap: nowrap;

        & > * {
          margin-left: 20px;
        }
      }
    }

    &-carousel{
      padding-bottom: 10px;
    }

    &-btn{
      min-width: 150px !important;
      border-radius: 10px;
      height: 35px;
    }
  }
}
