.packaging {
    &-title {
      margin-bottom: 40px;
    }
  
    &-form {
      .tambah-item-btn {
        min-width: 150px !important;
      }
  
      .simpan-btn {
        min-width: 300px !important;
      }
    }

    &-text{
       padding: 10px 0px 15px;
       line-height: 16px;
       font-weight: 500;
    }

    &-jenis{
        &-item{
            padding-right: 8px;
        }
    }
  }
