@import '../color';
@import '../base';
@import '../variable';

.raw-material {
  &-title {
    margin-bottom: 40px;
  }

  &-form {
    .tambah-item-btn {
      min-width: 150px !important;
    }

    .simpan-btn {
      min-width: 300px !important;
    }
  }
}