@import '../color';
@import '../base';

.shipping-warehouse {
  &-title {
    margin-bottom: 40px;
    font-style: italic;
  }

  &-form {
    .tambah-item-btn {
      min-width: 150px !important;
      height: 100%;
      margin-bottom: 0 !important;
    }

    .simpan-btn {
      min-width: 300px !important;
    }
  }
  &-raw{
    .input-field {
      min-width: 25vw;
    }
  }

  .payment-btn-container {
    margin-bottom: 20px !important;
  }
}
