@import '../color';
@import '../base';

.hamburger-btn {
  display: none !important;

  svg {
    color: black;
  }

  @media (max-width: $tablet) {
    display: inline-block !important;
  }
}

.navbar {
  background: white !important;
  justify-content: space-between;

  &-brand {
    max-width: 100px;
    padding: 10px;

    img {
      border-radius: 8px;
    }
  }

  &-list {
    justify-content: flex-start;
    align-items: center;
    max-width: 992px;
    padding: 0 30px;

    &-item {
      display: inline-block;
      transition: all .25s;
      color: black;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      margin-right: 20px !important;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &.active-tab {
        border-bottom: 3px solid $primary;
      }

      &-sub {
        &-item {
          padding: 18px 12px;
          font-weight: 500;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            background-color: $primary;
            color: white;
          }

          svg {
            display: block;
            margin-left: auto;
            font-size: 14px;
          }
        }
      }

      .logout-btn {
        color: $error;
      }
    }
  }
}

div[id*="simple-popover-tab"] {
  z-index: 3000;
  min-width: 160px !important;
}
