.carousel-card{
    border-top: 3px solid #287194;
    margin: 40px;
    padding-top: 16px;

    h1{
        font-weight: 700;
        font-size: 42px;
        padding: 7px 0px;
        line-height: 52px;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
    }
}
